/* navbar.css */
.animate-slide-down {
    animation: slideDown 0.3s ease-in-out;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  